@use '../../../styles/variables/variables.scss';

.form {
  position: absolute;
  width: 409px;
  height: 382px;
  left: calc(50% - 409px / 2 - 0.5px);
  top: calc(50% - 382px / 2);
  background: variables.$main-color;
  box-shadow: 0px 4px 33px rgba(0, 0, 0, 0.04);
  border-radius: 16px;
  z-index: 1;
  padding: 32px;
  margin: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  &__title {
    
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: variables.$second-color;
    text-align: center;
    margin: 0 0 32px 0;
  }

  &__label {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: variables.$second-color;
    margin-bottom: 7px;
  }

  &__input {
    box-sizing: border-box;   
    padding: 15px;
    gap: 10px;
    width: 345px;
    height: 50px;
    border: 1px solid #C9CACC;
    border-radius: 4px;
    margin-bottom: 24px;
  }

  &__button {
    padding: 7px;
    gap: 10px;
    width: 345px;
    height: 50px;
    background: linear-gradient(104.34deg, #41522E -15.34%, #BE8022 145.95%);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: variables.$main-color;
    margin-top: auto;
    cursor: variables.$cursor-hover;
  }
}