@use '../../../styles/mixins/button.scss';
@use '../../../styles/variables/variables.scss';

.form {
  width: 409px;
  height: 382px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: variables.$main-color;
  box-shadow: variables.$block-shadow;
  border-radius: 16px;
  z-index: 1;
  padding: 32px;
  margin: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  @media screen and (max-width: 767px) {
    & {
      width: 300px;
    }
  }

  &__title {
    
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: variables.$text-color;
    text-align: center;
    margin: 0 0 32px 0;
  }

  &__label {
    position: relative;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: variables.$text-color;
    margin-bottom: 7px;

    &_invalid {
      color: variables.$invalid-color;
    }
  }

  &__message {
    visibility: hidden;
    position: absolute;
    top: 83px;
    left: 0;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: variables.$invalid-color;

    &_invalid {
      visibility: visible;
    }
  }

  &__input {
    box-sizing: border-box;   
    padding: 15px;
    gap: 10px;
    width: 345px;
    height: 50px;
    border: 1px solid #C9CACC;
    border-radius: 4px;
    margin-bottom: 24px;

    &_invalid {
      color: variables.$invalid-color;
    }

    @media screen and (max-width: 767px) {
      & {
        width: 240px;
      }
    }
  }

  &__button {
    @include button.button;
    width: 345px;
    height: 50px;

    @media screen and (max-width: 767px) {
      & {
        width: 240px;
      }
    }
  }
}