.grid {
  justify-content: center;
  padding: 0 0 26px;
  display: grid;
  grid-template-columns: 360px 664px;
  grid-template-rows: 410px 472px;
  grid-gap: 24px;
  grid-template-areas: 
    "search result"
    "favorites result";

  @media screen and (max-width: 1100px) {
    & {
      grid-template-columns: 320px 320px;
      grid-template-rows: 410px 800px;
      grid-template-areas: 
        "search favorites"
        "result result";
    }
  }

  @media screen and (max-width: 710px) {
    & {
      grid-template-columns: 90%;
      grid-template-rows: 410px 800px 410px;
      grid-template-areas: 
        "search"
        "result"
        "favorites";
    }
  }
}