@use '.././variables/variables.scss';

.item {
  position: relative;
  width: 296px;
  height: 74px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;

  @media screen and (max-width: 1100px) {
    & {
      width: 95%;
    }
  }

  &_main {
    width: 480px;

    @media screen and (max-width: 1100px) {
      & {
        width: 95%;
      }
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  &::after {
    margin-top: 15px;
    content: "";
    width: 100%;
    height: 1px;
    background: rgba(135, 135, 135, 0.2);
    border-radius: 8px;
    transform: matrix(1, 0, 0, -1, 0, 0);
  }

  &:last-child:after {
    display: none;
  }

  &__title {
    max-width: 92.5%;
    height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
    font-weight: 300;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.408px;
    color: variables.$text-color;

    @media screen and (max-width: 1100px) {
      & {
        max-width: 90%;
      }
    }

    @media screen and (max-width: 380px) {
      & {
        max-width: 80%;
        font-size: 14px;
      }
    }
  }

  &__like {
    width: 21px;
    height: 18px;
    margin-left: auto;
    background: variables.$like-active no-repeat;
    cursor: variables.$cursor-hover;

    &_inactive {
      background: variables.$like no-repeat;
      background-size: contain;

      &:hover {
        background: variables.$like-hover no-repeat;
        background-size: contain;
      }
    }
  }

  &__date {
    width: 100%;
    margin: 4px 0 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.408px;
    color: #878787;

    &_main {
      margin: 0 0 5px;
    }
  }

  &__stars {
    width: 99px;
    height: 17px;

    @media screen and (max-width: 380px) {
      & {
        width: 85px;
        height: 13px;
      }
    }

    &_one {
      background: url(../../images/one-star.svg) no-repeat;
      background-size: contain;
    }

    &_two {
      background: url(../../images/two-stars.svg) no-repeat;
      background-size: contain;
    }

    &_three {
      background: url(../../images/three-stars.svg) no-repeat;
      background-size: contain;
    }

    &_four {
      background: url(../../images/four-stars.svg) no-repeat;
      background-size: contain;
    }

    &_five {
      background: url(../../images/five-stars.svg) no-repeat;
      background-size: contain;
    }
  }

  &__price {
    position: absolute;
    right: 0;
    bottom: 3px;
    margin: 0;
    font-weight: 300;
    font-size: 11px;
    line-height: 22px;
    letter-spacing: -0.408px;
    color: #878787;
  }

  &__number {
    margin-left: 16px;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    text-align: right;
    letter-spacing: -0.408px;
    color: variables.$text-color;
  }
}