.header {
  width: 100%;
  display: flex;
  justify-content: space-between;

  &__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #424242;
    margin: 32px 0 32px 32px;
  }

  &__button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.408px;
    color: #41522E;
    padding: 0;
    border: 0;
    background-color: initial;
    height: max-content;
    margin: 36px 68px 0 0;
    position: relative;
    cursor: pointer;
  }

  &__exit {
    width: 18px;
    height: 18px;
    background: url(../../../images/exit.svg) no-repeat;
    background-size: contain;
    position: absolute;
    right: -33px;
    top: 2px;
  }
}