@use '../../../styles/variables/variables.scss';

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;

  &__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: variables.$text-color;
    margin: 32px 0 32px 32px;

    @media screen and (max-width: 440px) {
      & {
        margin: 32px 0 12px 12px;
      }
    }
  }

  &__button {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.408px;
    color: variables.$second-text-color;
    padding: 0;
    border: 0;
    background-color: initial;
    height: max-content;
    margin: 36px 68px 0 0;
    position: relative;
    cursor: variables.$cursor-hover;

    @media screen and (max-width: 440px) {
      & {
        margin-right: 40px;
      }
    }
  }

  &__exit {
    width: 18px;
    height: 18px;
    background: url(../../../images/exit.svg) no-repeat;
    background-size: contain;
    position: absolute;
    right: -33px;
    top: 2px;

    @media screen and (max-width: 440px) {
      & {
        right: -23px;
      }
    }
  }
}