.carousel {
  width: 100%;
}

.swiper {
  margin: 28px 0;
  height: 149px;

  &__slide {
    width: 164px !important;
  }

  &__img {
    width: 164px;
    height: 149px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
  }
}