@use '../../../../styles/variables/variables.scss';

.content {
  grid-area: result;
  padding: 48px 32px;
  background: variables.$main-color;
  box-shadow: variables.$block-shadow;
  border-radius: 16px;

  &__title {
    position: relative;
    margin: 0;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: variables.$text-color;

    &::after {
      content: "";
      position: absolute;
      top: 14.5px;
      left: 111px;
      width: 8.7px;
      height: 17.33px;
      background: url(../../../../images/content-title-svg.svg) no-repeat;
      background-size: contain;
    }
  }

  &__place {
    margin-left: 48.5px;
  }

  &__date {
    float: right;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: variables.$second-text-color;

    @media screen and (max-width: 550px) {
      & {
        position: absolute;
        top: -40px;
        right: -20px;
        width: 170px;
      }
    }
  }

  &__count {
    margin: 0;
    font-weight: 300;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.408px;
    color: variables.$text-color;
  }

  &__number {
    font-weight: 500;
    color: variables.$second-text-color;
  }
}