$background-color: #F4F4F4;
$main-color: #FFFFFF;
$second-color: #424242;

$font: 'Roboto';
$font-style: normal;

$like: url(../.././images/like.svg);
$like-active: url(../.././images/like-active.svg);

$cursor-hover: pointer;
