@use '../../../../styles/variables/variables.scss';

.favorites {
  grid-area: favorites;
  box-sizing: border-box;
  padding: 32px;
  background: variables.$main-color;
  box-shadow: variables.$block-shadow;
  border-radius: 16px;
  display: flex;
  flex-direction: column;

  &__title {
    margin: 0 0 32px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: variables.$second-color;
  }

  &__buttons {
    width: 168px;
    display: flex;
    justify-content: space-between;
  }

  &__button {
    position: relative;
    box-sizing: border-box;
    padding: 4px 8px;
    gap: 4px;
    height: 28px;
    background: variables.$main-color;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.408px;
    color: #99A0A3;
    text-align: left;
    cursor: variables.$cursor-hover;

    &_active {
      border: 1px solid #41522E;
      color: #41522E;
    }

    &_rating {
      width: 89px;
    }

    &_price {
      width: 71px;
    }
  }

  &__sort {
    width: 8.5px;
    height: 12px;
    position: absolute;
    top: 8px;
    right: 12.5px;

    &_default {
      background: url(../../../../images/sort.svg) no-repeat;
    }

    &_high {
      background: url(../../../../images/sort-high.svg) no-repeat;
    }

    &_low {
      background: url(../../../../images/sort-low.svg) no-repeat;
    }
  }
}