.login {
  display: none;
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../../images/background.jpg) no-repeat;
  background-position: bottom;
  background-size: cover;
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(5px);
  }
}